sudo: false
language: python

python:
  - 3.6
    # - pypy3  # No pypy3 in Xenial and pypy3.5-5.8.0 is too old (https://bitbucket.org/pypy/pypy/issues/2747)

env:
  - TOXENV=py,codecov-travis

matrix:
  include:
    - python: 3.7
      env: TOXENV=py,codecov-travis
      dist: xenial     # required for Python 3.7 (travis-ci/travis-ci#9069)
      sudo: required   # required for Python 3.7 (travis-ci/travis-ci#9069)

before_cache:
  - |
      coverage erase
      rm -f $HOME/.cache/pip/log/debug.log

cache:
    directories:
        - $HOME/.cache/pip
        - $TRAVIS_BUILD_DIR/.tox

addons:
    apt:
      packages:
        - libfftw3-dev
        - libhdf5-dev
        - libopenmpi-dev
        - openmpi-bin
        - libopenblas-dev
          # - liblapack-dev  # for NumPy from source for PyPY
          # - gfortran       # for SciPy from source

install:
    - pip install -U pip setuptools wheel six colorlog
    - pip install -U tox-travis coverage pytest
    - pip install -U fluiddevops numpy # cython  # Cython to build pyfftw from source for PyPy
      # - pip install -U scipy h5py  # for PyPy
    - pip install -U "pyfftw<=0.11.0"

before_script:
    - |
      mkdir -p $HOME/.config/matplotlib
      echo 'backend      : agg' > $HOME/.config/matplotlib/matplotlibrc

script:
    - set -o pipefail
    - tox -vv | fluidicat --every 1 --wait 300

notifications:
  email: false
  irc: "chat.freenode.net#fluiddyn"
